<template name="streamsHero">
{{#if streams}}
<div class="well">
	<div class="row">
	<div class="col-md-7">
		<video id="" class="video-js vjs-default-skin" controls
          preload="auto" width="100%" height="328px" poster="/img/cover.png"
          data-setup="{}">
          <source src="{{streams.heroStreamUrl}}" type='rtmp/mp4'>
          </video>
    </div>
    <div class="col-md-5">
    	<h2>{{streams.userName}} - {{streams.title}}</h2>
    	<p>
    		<img src="{{streams.profileImg}}" class="img-circle">
    		<small>{{streams.userName}} | <a href="#">{{streams.tag}}</a></small>
    	</p>
    	<p class="text-muted">
    	{{streams.desc}}
    	</p>
    	<small><a href="/streams/{{streams._id}}">Click here to watch and chat live!</a></small>
    </div>
    </div>
</div>

{{getStream}}

{{else}}
<div class="jumbotron">
      <div class="container">
        <h1>Hi there!</h1>
        <h2>Welcome to Canvas.tv</h2>
        <p>It seem's no one is currently Streaming why don't you give it a go and share it with friends. You can stream almost anything, from painting to programing let your creativity shine!</p>
      </div>
    </div>
{{/if}}
</template>
