<template name="streamItem">
<div class="row">
<div class="col-sm-9 col-md-9">
  <video id="" class="video-js vjs-default-skin" controls
  preload="auto" width="100%" height="328px" poster="/img/cover.png"
  data-setup="{}">
  <source src="{{heroStreamUrl}}" type='rtmp/mp4'>
  </video>
</div>
<div class="col-sm-3 col-md-3">
  <div class="thumbnail">
    <img src="{{thumbnail}}" class="">
    <div class="caption">
      <h2><a href="{{pathFor 'streamPage' }}">{{title}}</a> | {{userName}}</h2>
      <p>{{desc}}</p>
    </div>
  </div>
</div>
</div>

	{{setTitle title}}

  <div class="row">
    <div class="col-sm-12 col-md-12">
      {{>chatworks}} 
    </div>
  </div>

</template>